#joke{
	text-align: center;
	font-size: 2em;
	color:rgb(50, 116, 240);
}

#get-joke{
	margin-left: 50%;
	width: 150px;
	height: 50px;
	color: white;
	background-color: rgb(67, 94, 247);
	font-size:2em;
}